<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <h4 class="text-dark m-2">الطلبات</h4>
        </div>
        <div>
            <button class="btn btn-sm btn-outline-secondary m-1" type="submit">
                <i class="bi bi-search"></i>
            </button>

            <button class="btn btn-sm btn-outline-secondary m-1" onclick="clearFilter('/ShopmeAdmin/products')"
                type="button">
                <i class="bi bi-arrow-repeat"></i>
            </button>

            <label>
                <input class="form-control" name="keyword" placeholder="إبحث بلإيميل أو الإسم" value="keyword"
                    type="text" required />
            </label>

            <input name="sortField" value="sortField" type="hidden" />
            <input name="sortDir" value="sortDir" type="hidden" />

            <a class="btn btn-sm btn-outline-primary m-1" href="@{/products/new}"><i class="bi bi-plus"></i></a>
            <a class="btn btn-sm btn-outline-warning m-1" href="@{/products/export/csv}"><i
                    class="bi bi-filetype-csv"></i></a>
            <a class="btn btn-sm btn-outline-success m-1" href="@{/products/export/excel}"><i
                    class="bi bi-file-excel"></i></a>
            <a class="btn btn-sm btn-outline-danger m-1" href="@{/products/export/pdf}"><i
                    class="bi bi-file-pdf"></i></a>
        </div>
    </div>
</div>
<!-- /.content-header -->


<!-- Main content -->
<div class="content">
    <div class="container-fluid m-1">
        <div class="row">
            <table class="table table-responsive-xl table-striped table-bordered table-hover  table-sm">

                <thead class="thead-dark">
                    <tr>
                        <th class="fit text-center">المعرف</th>
                        <th>الصورة</th>
                        <th>البريد الإلكتروني</th>
                        <th>الإسم الاول</th>
                        <th>إسم العائلة</th>
                        <th>الدور</th>
                        <th class="actions text-center">الخيارات</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="text-center" scope="row">4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                         <td class="text-center">
                            <a class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-trash"></i>
                            </a>
                            &nbsp;
                            <a class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">7</td>
                        <td>7</td>
                        <td>8</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                         <td class="text-center">
                            <a class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-trash"></i>
                            </a>
                            &nbsp;
                            <a class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">7</td>
                        <td>7</td>
                        <td>8</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                         <td class="text-center">
                            <a class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-trash"></i>
                            </a>
                            &nbsp;
                            <a class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">7</td>
                        <td>7</td>
                        <td>8</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                         <td class="text-center">
                            <a class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-trash"></i>
                            </a>
                            &nbsp;
                            <a class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center flex-wrap">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->